################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/excel-generator/v17/.suo
/.vs/ProjectEvaluation
/excel-generator/.vs/excel-generator
/excel-generator/obj
*.xlsx
/excel-generator/bin/Debug/net6.0
/excel-generator/bin/Release/net6.0
/.vs/excel-generator
/excel-generator/bin/Debug/net7.0
/.vs/TableExporter/FileContentIndex
/.vs/TableExporter/v17/.futdcache.v2
/.vs/TableExporter/v17/.suo
/.vs/VSWorkspaceState.json
/.vs/TableExporter/DesignTimeBuild
/TableExporter/bin/Debug/net7.0
/TableExporter/obj
/.vs/TableExporter/v17
/excel-generator/bin/Debug/net8.0
/TableExporter/bin/Debug/net8.0
/.vs/TableExporter/CopilotIndices/17.14.734.62261
