################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/excel-generator/v17/.suo
/.vs/ProjectEvaluation
/excel-generator/.vs/excel-generator
/excel-generator/obj
*.xlsx
/excel-generator/bin/Debug/net6.0
/excel-generator/bin/Release/net6.0
